/* LAYOUT */
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background:
    url(../imagens/capa.png),
    url(../imagens/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    font-family: Helvetica, Arial, sans-serif;
    background-attachment: fixed;
}

/* NAVBAR
---------------------*/
nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

nav.navbar .nav-link-color {
    color: white;
}

nav.navbar .nav-link-color:hover {
    color: #9bf0e1;
}

.navbar-toggler:focus {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,0.5);
    box-shadow: none;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* CAPA
---------------------*/

.capa {
    text-align: center;
}

.btn-roxo {
    background: #9c58fc;
    color: white;
}

.btn-roxo:hover {
    background: #7d20ff;
    color: white;
}

.btn-custom {
    padding: 10px 20px;
}


/* Estrutura Conteudo
---------------------------*/

.caixa {padding: 20px 0px;}

#servicos {background: white;}

#recursos {color: white;}

#servicos h2, #servicos h3 {color: #7c25f8;}

#recursos h2 {color: white;}

#recursos h3 {color: #9bf0e1;}

.albuns {padding: 10px 0;}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    padding-left: 200px;
}


/* RODAPÉ 
---------------------*/

footer {
    background: rgba(0,0,0,1);
    padding: 70px 0px 70px 0px;
    position: relative;
    top: 100px;
}

footer h4 {
    color: #919496;
    font-size: 1em;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}


/* Tipográfia
-------------------------*/

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white; 
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

p {
    font-size: 1.2em;
}


/* MEDIA QUERIES
-------------------------- */

/* Exxxxxxxxxxxtra small devices */
@media (max-width: 300px) {

    .btn-custom {
        margin: 5px 15px;
        padding: 5px;
    }

        /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 1.5em;
    }
    
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 301px) and (max-width: 575.98px) {
    
    .btn-custom {
        margin: 10px 15px;
        padding: 10px;
    }

    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 3em;
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    .btn-custom {
        margin: 10px 15px;
    }

    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    .btn-custom {
        margin: 10px 15px;
    }

    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 5em;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 6em;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 5em;
        font-weight: bold;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }
}

/*XXX-Large devices (larger desktops, 1800px and up)*/
@media (min-width: 1800px) { 

    /* TIPOGRAFIA
    -----------------------------*/
    h1 {
        font-size: 7em;
        font-weight: bold;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 2em;
    }
}